<ion-header class="ion-no-border ion-padding">
  <ion-button expand="block" (click)="up()" [disabled]="num===MAX">
    <ion-icon name="caret-up-circle-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content class="no-scroll">
  <ion-grid class="center-content">
    <ion-row>
      <ion-col>
        <ion-text (click)="reset()">{{num}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button expand="block" (click)="down()" [disabled]="num===MIN">
    <ion-icon name="caret-down-circle-outline"></ion-icon>
  </ion-button>
</ion-footer>
